@font-face {
    font-family: 'Skia';
    src: url('../dependencies/skia/Skia-Regular.eot');
    src: url('../dependencies/skia/Skia-Regular.eot?#iefix') format('embedded-opentype'),
        url('../dependencies/skia/Skia-Regular.woff2') format('woff2'),
        url('../dependencies/skia/Skia-Regular.woff') format('woff'),
        url('../dependencies/skia/Skia-Regular.ttf') format('truetype'),
        url('../dependencies/skia/Skia-Regular.svg#Skia-Regular') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }