.cta-section {
    padding: 104px 0;
    position: relative;

    &:not(.cta-section-computer) {
        @include max-screen(1080px) {                
            padding: 90px 0;
        }
    }

    &-computer {
        @include max-screen(1080px) {                
            padding: 0;
        }
    }
    
    &:not(.cta-section-recognition) {
        .container-fluid {
            @include max-screen(1080px) {                
                padding: 64px 30px;
                background-color: $color-gray-bg-light;
                text-align: center;;
            }
        }

        .cta-section-inner {
            @include max-screen(1080px) {                
                padding: 0;
            }
        }
    }

    &-recognition {
        background-color: $color-black;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: {
                image: url('../images/background/city-background.jpeg');
                size: 200%;
                position: right bottom;
            }
            opacity: 0.15;
        }
    }

    &-computer {
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: {
                image: url('../images/background/cta-computer.png');
                size: 100%;
                position: right bottom;
            }

            @include max-screen(1080px) {     
                background-size: cover;           
                background-position: 66%;
                position: relative;
                padding-top: 100%;
            }
        }
    }

    &-inner {
        position: relative;
        z-index: 1;
        padding: 0 30px;

        .cta-section-recognition & {
            text-align: center;
            max-width: 1024px;
            margin: 0 auto;
        }

        .cta-section-computer & {
            color: $color-black;
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    &-content {
        .cta-section-computer & {
            max-width: 484px;
        }
    }

    &-title {
        font: {
            size: 36px;
            weight: bold;
        }

        .cta-section-computer & {
            font-size: 24px;
            line-height: 36px;
        }
    }

    &-description {
        margin-top: 30px;
        font-size: 18px;

        .cta-section-computer & {
            font-size: 16px;
            line-height: 24px;
        }
    }
    
    &-image {
        display: flex;
        justify-content: center;
        margin-top: 64px;
        flex-wrap: wrap;

        @include max-screen(768px) {
            justify-content: space-between;
        }
    }

    &-link {
        display: block;
    }

    &-button {
        margin-top: 32px;
    }

    &-item {

        @include max-screen(768px) {
            text-align: center;
        }

        &:not(:last-child) {
            margin-right: 140px;

            @include max-screen(1080px) {
                margin-right: 80px;   
            }

            @include max-screen(768px) {
                margin-right: 0;
            }
            
        }
    }

    &-link {
        img {
            @include max-screen(768px) {
                height: 60px;
                width: auto;
            }
        }
    }
}