.inner-content {
    padding: 96px 0;   
    background-color: $color-white;
    color: $color-black;

    @include max-screen(1080px) {
        padding: 64px 0;
    }

    &-secondary {
        background-color: $color-primary;
        color: $color-white;

        .inner-content-image {
            margin: 0;
        }

        .inner-content-description {
            @include max-screen(1080px) {
                margin-top: 0;
                text-align: center;
            }
        }
    }

    .container-inner {
        max-width: 1088px + 60;
        padding: 0 30px;
        position: relative;
        z-index: 1;
        margin: 0 auto;
    }

    &-image {
        margin: 96px 0;

        @include max-screen(1080px) {
            margin: 64px 0 0;
        }

        .col-sm-12 {
            @include max-screen(1080px) {
                padding: 0;
            }
        }

        &-reverse {
            flex-direction: row-reverse;

            .inner-content-description {
                padding: 0 66px 0 0;

                @include max-screen(1080px) {
                    padding: 0;
                }
            }
        }
    }

    &-description {
        padding: 0 0 0 66px;

        @include max-screen(1080px) {
            padding: 0;
            margin-top: 30px;
        }

        h3 {
            font: {
                size: 24px;
                weight: bold;
            }
            line-height: 32px;
            margin-bottom: 32px;

            @include max-screen(1080px) {
                font-size: 18px;
                margin-bottom: 24px;
                line-height: 25px;
            }
        }

        p {
            font-size: 18px;
            line-height: 21px;   

            @include max-screen(1080px) {
                font-size: 16px;
                line-height: 24px;
            }

            &:not(:last-of-type) {
                margin-bottom: 16px;

                @include max-screen(1080px) {
                    margin-bottom: 10px;
                }
            }
        }

        .btn {
            margin-top: 48px;

            @include max-screen(1080px) {
                margin-top: 24px;
            }
        }
    }

    h2 {
        text-align: center;
        font: {
            size: 36px;
            weight: bold;
        }
        line-height: 43px;
        max-width: 812px;
        margin: 0 auto;
        margin-bottom: 96px;

        @include max-screen(1080px) {
            font-size: 21px;
            line-height: 25px;
            margin-bottom: 32px;
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}