.slider {
    min-height: 100vh;
    padding: (136px + 111) 0 236px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include max-screen(1440px) {
        padding: (100px + 111) 0 136px;
    }

    @include max-screen(1080px) {
        padding: 93px 0 80px;
    }

    .container-fluid {
        @include max-screen(768px) {
            padding: 0;
        }   
    }

    &-inner {
        background: {
            color: $color-black;
            image: url('../images/background/city-background.jpeg');
            size: 100%;
            position: 100% 140%;
            repeat: no-repeat;
        };

        @include max-screen(768px) {
            background-position: bottom;
        }
    }
    
    &-content {
        padding: 102px 0 52px 140px;

        @include max-screen(1680px) {
            padding: 102px 0 52px 80px;
        }

        @include max-screen(1080px) {
            padding: 100px 0 50px;
        }

        @include max-screen(768px) {
            padding: 80px 20px 0;
            text-align: center;
        }   
    }

    &-upper-title {
        font: {
            size: 14px;
            weight: bold;
        }
        text-transform: uppercase;
    }

    &-main-title {
        font: {
            size: 36px;
            weight: bold;
        }
        line-height: 43px;
        margin: 24px 0 32px;

        @include max-screen(1080px) {
            font-size: 24px;
            line-height: 28px;
            margin: 24px 0;
        } 
    }

    &-description {
        font: {
            size: 24px;
        }
        line-height: 34px;

        @include max-screen(1080px) {
            font-size: 16px;
            line-height: 24px;
        } 
    }
    
    &-button {
        margin-top: 48px;
    }

    &-button-play {
        display: inline-block;
        vertical-align: middle;
        margin-left: 50px;
        cursor: pointer;

        @include max-screen(768px) {
            margin-left: 10px;
        }
        
        .icon {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            width: 41px;
            height: 41px;
            border-radius: 50%;
            border: 1px solid $color-white;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 51%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 0;
                height: 0;
                border: {
                    top: 9px solid transparent;
                    right: 0;
                    bottom: 9px solid transparent;
                    left: 9px solid $color-white;
                }
            }
        }

        .text {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            font: {
                size: 14px;
                weight: bold;
            }
        }
    }

    &-image {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;

        @include max-screen(768px) {
            padding-top: 66.65%;
        }

        &-video {
            position: relative;
            height: 100%;
            
            @include max-screen(768px) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .icon-play {
                display: inline-block;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 101px;
                height: 101px;
                border-radius: 50%;
                border: 1px solid $color-white;
                z-index: 3;
                cursor: pointer;
    
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 51%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 0;
                    height: 0;
                    border: {
                        top: 25px solid transparent;
                        right: 0;
                        bottom: 25px solid transparent;
                        left: 25px solid $color-white;
                    }
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    //override slick

    .slick-slide {
        .row {
            @include max-screen(1080px) {
                flex-direction: column-reverse;
            }
        }
    }
    .slick-dots {
        bottom: auto;
        top: 40px;
        text-align: left;
        padding-left: 130px;   

        @include max-screen(1680px) {
            padding-left: 70px;
        }

        @include max-screen(1080px) {
            padding: 0 20px;
            top: 42%;
            text-align: center;
        }

        li {
            width: 30px;
            height: 4px;

            button {
                padding: 0;
                width: 100%;
                height: 100%;
                background-color: $color-white;
            }

            &.slick-active button {
                background-color: $color-btn-primary;
            }
        }

        li.slick-active button {
            color: $color-btn-primary;
        }

        li button:before {
            display: none;
        }
    }
}